---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import BadgeAlert from '../components/Badge_Alert.svelte';
import Hero from '../components/Hero.astro';
import HeroTwo from '../components/Hero-Two.astro';
import HeroTree from '../components/Hero-Tree.astro';
import BentoGrid from '../components/BentoGrid.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Razer United States - Fan Page">
	<Navbar />
	<BadgeAlert />
	<main>
		<Hero />
		<HeroTwo />
		<HeroTree />
		<BentoGrid />
	</main>
	<Footer />
	
</Layout>

