<header class="bg-black text-slate-100">
    <nav>
        <ul class="flex gap-2 justify-between">
            <section class="w-fit p-6">
                <li>
                    <a href="/">
                        <img src="/icons/razer-logo.svg" width="50" alt="Razer Logo">
                    </a>
                </li>
            </section>
            <section class="flex items-center gap-5 *:p-6">
                <li>
                    <a href="#">Store</a>
                </li>
                <li>
                    <a href="#">PC</a>
                </li>
                <li>
                    <a href="#">Console</a>
                </li>
                <li>
                    <a href="#">Mobile</a>
                </li>
                <li>
                    <a href="#">Lifestyle</a>
                </li>
                <li>
                    <a href="#">Gold</a>
                </li>
                <li>
                    <a href="#">Community</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
            </section>
            <section class="flex gap-5 items-center pr-8">
                <li>
                    <a href="#">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </li>
            </section>
        </ul>
    </nav>
</header>